---
name: runci
"on":
  - pull_request
  - push

jobs:
  build:
    strategy:
      matrix:
        python-version: [3.9, 3.x, 3.13-dev]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }} ${{ matrix.os }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install pytest
        run: |
          pip install pytest
      - name: Run tests
        run: |
          pytest -v
